:root {
  --gris: #fafafa;
  --primary: #eaa630;
  --overlay: #000;
  --opacity: 0;
  /* --fondoImage: url('../img/fondo-player.png'); */
  --fondoImage: none; 
  --fondoChat: none;
  --text-color: #000;
  --fondo: #503191;
  --fondo-chat: #503191;
  --grisNav: #a2a2a2;
  --blanco: #fff;
  --borderBoton: #fff;
  --colorBoton: #fff;
  --titleUser: #fff;
  --nameUser: #fff;
  --bienvenida: #fff;
  --scrollColor: #fff;
  --scroll2Color: #fff;
  --userChatAdmin: #c0e659;
  --userColorChatAdmin: #fff;
  --fondoChatAdmin: #c0e659;
  --userChat: #f2c43e;
  --userColorChat: #fff;
}
